<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:replace="fragments/head"/>
</head>
<body>
<main class="container-fluid">

    <header>
        <th:block th:replace="fragments/navbar"/>
    </header>

    <div class="mt-3">
        <div class="row mx-auto col-12 justify-content-center messenger scrollbar-dynamic" id="messenger">
            <th:block th:each="message, iter : ${messages}">
                <div class="col-8">
                    <div class="message-box darker row col-10 mb-1"
                         th:if="${#strings.equals(message.senderId, #authentication.getPrincipal().getId())}">
                        <div class="col-9">
                            <p th:text="${message.message}"></p>
                        </div>
                        <div class="col-3">
                            <div class="col-12 row">
                                <strong>You</strong>
                            </div>
                            <div class="col-12 row">
                                <small class="time-right"
                                       th:text="${#dates.format(message.timestamp, 'dd-MM-yyyy HH:mm')}"></small>
                            </div>
                        </div>
                    </div>
                    <div class="message-box row col-10 mb-1"
                         th:unless="${#strings.equals(message.senderId, #authentication.getPrincipal().getId())}">
                        <div class="col-3">
                            <div class="col-12 row">
                                <strong class="float-left" th:text="${message.otherUsername}"></strong>
                            </div>

                            <div class="col-12 row">
                                <small class="time-left" style="flex-direction: column"
                                       th:text="${#dates.format(message.timestamp, 'dd-MM-yyyy HH:mm')}"></small>
                            </div>
                        </div>
                        <div class="col-9 float-right">
                            <p th:text="${message.message}"></p>
                        </div>
                    </div>
                </div>

            </th:block>
        </div>
        <form class="form w-50 mx-auto mt-3" th:action="@{/api/messages/send}" th:method="post">
            <div class="form-group col-12" style="text-align: left;">
                            <textarea class="editor unresizeable form-control textarea-scrollbar scrollbar-outer" rows="5" maxlength="8000"
                                      id="message"
                                      name="message"
                                      placeholder=" "
                                      onkeyup="countChars(this, 8000, 'Message', 'messageLabel')"></textarea>
                <label th:id="messageLabel" for="message" class="form-control-placeholder">Message
                    0/8000</label>
                <input type="hidden" th:value="${messages[0].otherId}" th:name="receiverId">  
                <input type="hidden" th:value="${messages[0].advertId}" th:name="advertId">
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="submit-form btn btn-dark button-space">Send</button>
            </div>
        </form>
    </div>
    <script>
        $(document).ready(function () {
            let a = document.getElementById('messenger');
            a.scrollTop = a.scrollHeight;
            $('.textarea-scrollbar').scrollbar();
            $('.scrollbar-outer').scrollbar();
        });
    </script>
    <footer class="mt-3">
        <th:block th:replace="fragments/footer"/>
    </footer>

</main>
</body>
</html>