<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:replace="fragments/head"/>
</head>
<body>
<main class="container-fluid">

    <header>
        <th:block th:replace="fragments/navbar"/>
    </header>

    <div class="mt-3">
        <div class="row mx-auto col-10 justify-content-center">
            <table class="border border-dark">
                <thead>
                <tr class="border-dark border-bottom">
                    <th>
                        <strong>About Ad</strong>
                    </th>
                    <th class="border-left border-dark">
                        <strong>User</strong>
                    </th>
                    <th class="border-left border-dark">
                        <strong>Last Message</strong>
                    </th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="conversation, iter : ${conversations}">
                    <tr>
                        <td>
                            <a th:href="@{|/messages/conversation/${conversation.userId}/${conversation.advertId}|}">

                                <i th:if="${#strings.equals(conversation.status, 'SEND')}"
                                   class="fas fa-exclamation"></i>
                                <strong th:text="${conversation.advertTitle}"></strong>
                            </a>

                        </td>

                        <td class="border-left border-dark">
                            <strong th:text="${conversation.username}"></strong>
                        </td>

                        <td class="border-left border-dark">
                            <strong th:text="${#dates.format(conversation.timestamp, 'dd-MM-yyyy HH:mm')}"></strong>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>

    <footer class="mt-3">
        <th:block th:replace="fragments/footer"/>
    </footer>

</main>


</body>
</html>