<th:block th:fragment="footer">
    <footer class="mt-3">
        <div class="container-fluid bg-light rounded">
            <div class="text-dark font-weight-bold p-2 text-center">&copy; 2019 - AdvertWall Ltd. - All Rights
                Reserved
            </div>
        </div>
    </footer>
</th:block>