<th:block th:fragment="guest-navbar">
    <nav class="navbar navbar-expand navbar-light bg-light rounded font-weight-bold">
        <a class="navbar-brand navbar-" href="/"><img th:src="@{/images/logo.png}" class="logo" draggable="false"/></a>
        <div class="navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active link-color-hover-blue">
                    <a class="nav-link" th:href="@{/users/login}"><i>Login</i></a>
                </li>
                <li class="nav-item active link-color-hover-blue">
                    <a class="nav-link" th:href="@{/users/register}"><i>Register</i></a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>