<th:block th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AdvertWall - Biggest website for ads</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset-css.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrapselect.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.fileuploader.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.fileuploader-theme-thumbnails.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.fileuploader-theme-dragdrop.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/summernote-bs4.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/grid.scss.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/select2.min.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" th:href="@{/images/logo.png}">

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrapselect.min.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
    <script th:src="@{/js/fetch.js}"></script>
    <script th:src="@{/js/jquery.fileuploader.js}"></script>
    <script th:src="@{/js/summernote-bs4.js}"></script>
    <script th:src="@{/js/select2.min.js}"></script>
</th:block>