<th:block th:fragment="user-navbar">
    <nav class="navbar navbar-expand navbar-light bg-light rounded font-weight-bold">
        <a class="navbar-brand navbar-" href="/"><img th:src="@{/images/logo.png}" class="logo" draggable="false"/></a>
        <div class="navbar-collapse d-flex justify-content-end" id="navbarNav">
            <div class="navbar-nav">
                <li class="nav-item active" sec:authorize="hasAuthority('ADMINISTRATOR')">
                    <div class="dropdown show link-color-hover-blue">
                        <a class="nav-link active dropdown-toggle" href="#" role="button" id="cms"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-tools"></i> <i>CMS</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-new" aria-labelledby="cms">
                            <a class="dropdown-item alert-link light-blue" th:href="@{/categories/list}">Categories</a>
                            <a class="dropdown-item alert-link light-blue"
                               th:href="@{/users/list}">Users</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item active">
                    <div class="dropdown show link-color-hover-blue">
                        <a class="nav-link active dropdown-toggle" href="#" role="button" id="profile"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell" style="color: #db6868" th:if="${#authentication.getPrincipal().getHasNotification()}"></i>
                            <i class="fas fa-user-circle"></i> <i sec:authentication="name"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-new" aria-labelledby="profile">
                            <a class="dropdown-item alert-link light-blue" th:href="@{/ads/own}">Your Ads</a>
                            <a class="dropdown-item alert-link light-blue" th:href="@{/ads/followed}">Followed Ads</a>
                            <div class="dropdown-divider"></div>
                            <a th:if="${#authentication.getPrincipal().getHasNotification()}" class="dropdown-item alert-link notification" th:href="@{/messages/list}">
                                <i class="fas fa-bell" style="color: #db6868"></i> Messages
                            </a>
                            <a th:unless="${#authentication.getPrincipal().getHasNotification()}" class="dropdown-item alert-link light-blue" th:href="@{/messages/list}">Messages</a>
                            <a class="dropdown-item alert-link light-blue" th:href="@{/users/options}">Edit Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item alert-link text-danger" href="/logout">Logout</a>
                        </div>

                    </div>
                </li>
                <li class="nav-item active link-color-hover-black create-button">
                    <a class="nav-link menu-button" href="/ads/create"><i class="fas fa-plus"></i> <i>Create Ad</i></a>
                </li>
                </ul>
            </div>
    </nav>
</th:block>