<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:replace="fragments/head"/>
</head>
<body>
<main class="container-fluid">

    <header>
        <th:block th:replace="fragments/navbar"/>
    </header>

    <div class="mt-3">
        <div class="row mx-auto col-10 justify-content-center">
            <table class="border border-dark">
                <th:block th:each="user, iter : ${users}">
                    <tr>
                        <td  class="border-right border-dark">
                            <strong th:text="${user.email}"></strong>
                        </td>
                        <th:block th:if="${!#strings.equalsIgnoreCase(user.role, 'administrator')}">
                            <td>
                                <form th:action="@{/users/set-admin/{id}(id=${user.id})}" method="post">
                                    <input type="hidden" name="_csrf"
                                           value="80417983-fe8b-45c7-963e-31f6915a1560">
                                    <button class="btn btn-dark">ADMIN</button>
                                </form>
                            </td>
                        </th:block>
                        <th:block th:if="${!#strings.equalsIgnoreCase(user.role, 'moderator')}">
                            <td>
                                <form th:action="@{/users/set-mod/{id}(id=${user.id})}" method="post">
                                    <input type="hidden" name="_csrf"
                                           value="80417983-fe8b-45c7-963e-31f6915a1560">
                                    <button class="btn btn-dark">MODERATOR</button>
                                </form>
                            </td>
                        </th:block>
                        <th:block th:if="${!#strings.equalsIgnoreCase(user.role, 'user')}">
                            <td>
                                <form th:action="@{/users/set-user/{id}(id=${user.id})}" method="post">
                                    <input type="hidden" name="_csrf"
                                           value="80417983-fe8b-45c7-963e-31f6915a1560">
                                    <button class="btn btn-dark">USER</button>
                                </form>
                            </td>
                        </th:block>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>

    <footer class="mt-3">
        <th:block th:replace="fragments/footer"/>
    </footer>

</main>


</body>
</html>