
hr.hr-2 {
    height: 2px;
    margin-bottom: 30px;
}

hr.hr-3 {
    height: 2px;
    margin-bottom: 10px;
}

.notification{
    color: #db6868;
}

.cutout {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thumbnail img {
    max-width: 100%; /* do not stretch the bootstrap column */
}

.img-wrapper img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100%; /* optional: if you want the smallest images to fill the .thumbnail */
}

/*-----------------------------------*/
/*       LOGOUT BUTTON START         */
/*-----------------------------------*/

.logout-button {
    background: transparent;
    border: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 1) !important;
}

.logout-button:hover {
    cursor: pointer;
}

.logout-button:focus {
    outline: none;
}

/*-----------------------------------*/
/*            FORMS START            */
/*-----------------------------------*/

.form-group {
    position: relative;
    margin-bottom: 1.7rem;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 15px;
    transition: all 200ms;
    opacity: 0.5;
    cursor: text;
}

.button-space {
    margin-right: 10px;
    margin-left: 10px;
}

.form-control:focus + .form-control-placeholder {
    font-size: 90%;
    transform: translate3d(0, -105%, 0);
    opacity: 1;
}


.form-control:not(:placeholder-shown) + .form-control-placeholder {
    font-size: 90%;
    transform: translate3d(0, -105%, 0);
    opacity: 1;
}

/*-----------------------------------*/
/*           NAVBAR START            */
/*-----------------------------------*/

.light-blue {
    color: #007bff;
}


.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu-new .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu-new {
    visibility: hidden;
    display: block;
    opacity: 0;
}

.dropdown:hover .dropdown-menu-new {
    visibility: visible;
    opacity: 1;
    transition: opacity 500ms ease-out;
}

.link-color-hover-blue:hover a i {
    color: #007bff;
    transition: color 200ms linear;
}

.link-color-hover-black:hover a i {
    color: black;
    transition: color 200ms linear;
}

.create-button {
    background-color: darkorange;
    border-radius: 50px;
}

.create-button a i {
    color: white;
}

.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,
.navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.logo {
    height: 90px;
    width: 90px;
    position: absolute;
    margin-left: 50px;
    margin-top: -20px;
}

/*-----------------------------------*/
/*        RADIO BUTTON START         */
/*-----------------------------------*/
.toggle {
    margin: 0 0 1.5rem;
    box-sizing: border-box;
    font-size: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.radio-btn + label {
    margin: 0;
    padding: .75rem 2rem;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border: solid 1px #DDD;
    background-color: #FFF;
    font-size: 1rem;
    line-height: 140%;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    transition: border-color .15s ease-out,
    color .25s ease-out,
    background-color .15s ease-out,
    box-shadow .15s ease-out;

}

.radio-btn:first-of-type {
    border-radius: 6px 0 0 6px;
    border-right: none;
}


.radio-btn:last-of-type {
    border-radius: 0 6px 6px 0;
    border-left: none;
}

.radio-btn:hover + label {
    border-color: #213140;
}

.radio-btn:checked + label {
    background-color: #4B9DEA;
    color: #FFF;
    box-shadow: 0 0 10px #66B3FB;;
    border-color: #4B9DEA;
    z-index: 1;
}

.radio-btn:focus + label {
@include focusOutline;
}

/*-----------------------------------*/
/*         CHECKBOXES START          */
/*-----------------------------------*/

.checkbox-chippy {
    display: inline;
}

.checkbox-chippy label {
    display: inline-block;
    background-color: #FFF;
    border: solid 1px #DDD;
    color: #47525d;
    border-radius: 25px;
    white-space: nowrap;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

.checkbox-chippy label {
    padding: 8px 12px;
    cursor: pointer;
}

.checkbox-chippy label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 14px;
    padding: 2px 6px 2px 2px;
    content: "\f00d";
    transition: transform .3s ease-in-out;
}

.checkbox-chippy input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
    font-size: 9px;
}

.checkbox-chippy input[type="checkbox"]:checked + label {
    border: solid 1px #DDD;
    background-color: #4B9DEA;
    box-shadow: 0 0 10px #66B3FB;;
    color: #fff;
    transition: all .2s;
}

.checkbox-chippy input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.info-section {
    text-align: center;
}

.info-section .price {
    border-bottom: 1px solid;
}

.main-section, .info-section {
    border: 1px solid;
    overflow-wrap: break-word;
}

.row .images {
    width: 100%;
    max-height: 400px;
}

.nav-link {
    cursor: pointer;
}

.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
}

#image-gallery .modal-footer {
    display: block;
}

.thumb {
    margin-top: 15px;
    margin-bottom: 15px;
}

.unresizeable {
    resize: none;
}


/*-----------------------------------*/
/*              MESSAGES             */
/*-----------------------------------*/


.message-box {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    float: left;
}

.messenger {
    height: 550px;
    overflow-y: auto;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
    float: right;
}

.message-box::after {
    content: "";
    clear: both;
    display: table;
}


.time-right {
    float: right;
    color: #4e555b;
}

.time-left {
    float: left;
    color: #4e555b;
    position: relative;
}


/*-----------------------------------*/
/*             SCROLLBAR             */
/*-----------------------------------*/

.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}

.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}

.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}.scrollbar-outer > .scroll-element,
 .scrollbar-outer > .scroll-element div
 {
     border: none;
     margin: 0;
     padding: 0;
     position: absolute;
     z-index: 10;
 }

.scrollbar-outer > .scroll-element {
    background-color: #ffffff;
}

.scrollbar-outer > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scrollbar-outer > .scroll-element.scroll-x {
    bottom: 0;
    height: 12px;
    left: 0;
    width: 100%;
}

.scrollbar-outer > .scroll-element.scroll-y {
    height: 100%;
    right: 0;
    top: 0;
    width: 12px;
}

.scrollbar-outer > .scroll-element.scroll-x .scroll-element_outer { height: 8px; top: 2px; }
.scrollbar-outer > .scroll-element.scroll-y .scroll-element_outer { left: 2px; width: 8px; }

.scrollbar-outer > .scroll-element .scroll-element_outer { overflow: hidden; }
.scrollbar-outer > .scroll-element .scroll-element_track { background-color: #eeeeee; }

.scrollbar-outer > .scroll-element .scroll-element_outer,
.scrollbar-outer > .scroll-element .scroll-element_track,
.scrollbar-outer > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.scrollbar-outer > .scroll-element .scroll-bar { background-color: #d9d9d9; }
.scrollbar-outer > .scroll-element .scroll-bar:hover { background-color: #c2c2c2; }
.scrollbar-outer > .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }


/* scrollbar height/width & offset from container borders */

.scrollbar-outer > .scroll-content.scroll-scrolly_visible { left: -12px; margin-left: 12px; }
.scrollbar-outer > .scroll-content.scroll-scrollx_visible { top:  -12px; margin-top:  12px; }

.scrollbar-outer > .scroll-element.scroll-x .scroll-bar { min-width: 10px; }
.scrollbar-outer > .scroll-element.scroll-y .scroll-bar { min-height: 10px; }


/* update scrollbar offset if both scrolls are visible */

.scrollbar-outer > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -14px; }
.scrollbar-outer > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -14px; }

.scrollbar-outer > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -14px; }
.scrollbar-outer > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -14px; }