<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"/>
    <script th:src="@{/js/configurations/fileupload-dragdrop.js}"></script>
    <!--<script th:src="@{/js/checks/ad-create-checks.js}"></script>-->

</head>
<body>
<main class="container-fluid">
    <th:block th:replace="fragments/navbar"/>
    <div class="mt-3">
        <h1 class="text-center text-dark">Edit Category</h1>
        <hr class="hr-2 bg-dark w-50">
        <form class="form w-50 mx-auto" th:object="${category}" th:action="@{/categories/edit}" th:method="post"
              enctype="multipart/form-data" name="form">
            <div class="row justify-content-center">
                <div class="form-group col-12 justify-content-center">
                    <input type="text" class="form-control" th:field="*{name}"
                           onkeyup="countChars(this, 70, 'Category Name', 'categoryLabel')"
                           th:value="*{name}" id="name" name="name"
                           th:errorClass="is-invalid" placeholder=" " autofocus/>
                    <label id="categoryLabel" for="name" th:class="form-control-placeholder"
                           th:classappend="${#fields.hasErrors('name')} ? 'text-danger' : ''">Category Name 0/70</label>
                    <small class="text-danger small"
                           th:text="${#fields.hasErrors('name')} ? ${#fields.errors('name')[0]} : ''"></small>
                    <input type="file" name="file">
                </div>
            </div>

            <input th:type="hidden" th:field="*{id}" th:value="*{id}"/>
            <hr class="hr-3 bg-dark">
            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                 th:if="${#fields.hasErrors('*')}">
                Fix the invalid fields and try again!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&#215;</span>
                </button>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <th:a th:href="@{categories/list}" class="btn btn-dark button-space">Cancel</th:a>
                <button type="submit" class="submit-form btn btn-dark button-space">Edit</button>
            </div>
        </form>
    </div>
    <th:block th:replace="fragments/footer"/>
</main>
</body>
</html>