<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:replace="fragments/head"/>
</head>
<body>
<main class="container-fluid">

    <header>
        <th:block th:replace="fragments/navbar"/>
    </header>

    <div class="mt-3">
        <div class="row mx-auto col-10 justify-content-center">
            <th:block th:each="categoryName, iter : ${categories}">
                <div class="border border-dark row col-8 mt-1">
                    <div class="col-auto border-right border-dark md-auto">
                        <img th:src="${categoryName.imageUrl}" width="38px" alt="Image" draggable="false"/>
                    </div>
                    <div class="cutout col-9 col-sm-4 col-md-7 col-lg-8 col-xl-9">
                        <strong th:text="${categoryName.name}"></strong>
                    </div>
                    <div class="border-left border-dark col-auto ml-auto">
                        <a class="btn btn-dark" th:href="@{edit/{id}(id=${categoryName.id})}">Edit</a>
                    </div>
                </div>
            </th:block>
        </div>
        <div class="mt-3 row justify-content-center">
            <a class="btn btn-dark col-auto" th:href="@{create}">Add new category</a>
        </div>
    </div>

    <footer class="mt-3">
        <th:block th:replace="fragments/footer"/>
    </footer>

</main>


</body>
</html>