<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"/>
</head>
<body>
<main class="container-fluid">
    <header>
        <th:block th:replace="fragments/navbar"/>
    </header>

    <div class="mt-3">
        <div class="row">
            <div class="mx-auto justify-content-center">
                <div class="form-group toggle col col-xs-12 col-sm-12 col-md col-lg col-xl">
                    <input class="radio-btn" type="radio" name="type" th:id="selling" onclick="changeType(this)"
                           value="selling"
                           id="selling" hidden th:checked="${!#strings.equals(output.type, 'buying')}"/>
                    <label for="selling">Selling</label>
                    <input class="radio-btn" type="radio" name="type" onclick="changeType(this)" th:id="buying"
                           value="buying"
                           id="buying" hidden th:checked="${#strings.equals(output.type, 'buying')}"/>
                    <label for="buying">Buying</label>
                </div>
            </div>
        </div>
        <script>
            let lastClick = '[[${output.type}]]';

            function changeType(value) {
                if (value.value === lastClick) {
                    return;
                }
                lastClick = value.value;
                window.location.replace('index?type=' + value.value + '&page=' + '[[${output.page}]]');
            }
        </script>
        <div class="row justify-content-center">
            <div class="grid grid--uniform grid--collection col-8">
                <th:block th:each="ad, iter : ${output.adverts}">
                    <div class="grid__item grid-product small--one-half medium-up--one-quarter mb-5"
                         data-aos="row-of-3">
                        <a class="grid-product_grid__image-ratio--square _link"
                           th:href="@{ads/view/{id}(id=${ad.id})}"
                           th:title="${ad.title}" style="width: 200px">
                            <div class="lazyloaded">
                                <img class="card-img-top" th:src="${ad.image}" alt="Image" draggable="false"/>
                                <div class="cutout">
                                    <strong
                                            th:text="${ad.title}"></strong>
                                </div>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li th:classappend="${output.startPage == output.page} ? 'disabled' : ''" class="page-item"><a class="page-link" onclick="changePage(this)">Previous</a></li>
                <th:block th:each="iterator: ${#numbers.sequence(output.startPage, output.endPage)}">
                    <li th:classappend="${iterator == output.page} ? 'active' : ''" class="page-item">
                        <a class="page-link" onclick="changePage(this)" th:text="${iterator}+1"></a>
                    </li>
                </th:block>
                <li th:classappend="${output.endPage == output.page} ? 'disabled' : ''" class="page-item"><a class="page-link" onclick="changePage(this)">Next</a></li>
            </ul>
        </nav>
        <script>
            function changePage(value) {
                if (value.classList.contains('active')){
                    return;
                }
                let v = value.innerText;
                if (v === 'Previous'){
                    v = [[${output.page}]] - 1;
                } else if(v === 'Next') {
                    v = [[${output.page}]] + 1;
                }else{
                    v = +v - 1;
                }
                window.location.replace('index?type=' + '[[${output.type}]]' + '&page=' + v);
            }
        </script>
    </div>


    <footer class="mt-3">
        <th:block th:replace="fragments/footer"/>
    </footer>

</main>


</body>
</html>