<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"/>
    <script th:src="@{/js/checks/login-checks.js}"></script>

</head>
<body>
<main class="container-fluid">
    <th:block th:replace="fragments/navbar"/>
    <div class="mt-3">
        <h1 class="text-center text-dark">Login</h1>
        <hr class="hr-2 bg-dark w-25">
        <form class="form w-25 mx-auto" th:action="@{/users/login}" th:object="${user}" th:method="post">
            <div class="form-group">
                <input type="text" class="form-control" th:field="*{email}" id="email" name="email" placeholder=" "
                       th:classappend="${#request.getParameter('error')} != null ? 'is-invalid' : ''" autofocus/>
                <label for="email" th:class="form-control-placeholder"
                       th:classappend="${#request.getParameter('error')} != null ? 'text-danger' : ''">E-Mail</label>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" th:field="*{password}" id="password" name="password"
                       placeholder=" "
                       th:classappend="${#request.getParameter('error')} != null ? 'is-invalid' : ''">
                <label for="password" class="form-control-placeholder"
                       th:classappend="${#request.getParameter('error')} != null ? 'text-danger' : ''">Password</label>
            </div>
            <hr class="hr-3 bg-dark">
            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                 th:if="${#request.getParameter('error')} != null">
                Invalid email or password!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&#215;</span>
                </button>
            </div>
            <div class="alert alert-success alert-dismissible fade show" role="alert"
                 th:if="${#request.getParameter('changed')} != null">
                Your password has been updated!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&#215;</span>
                </button>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <div style="padding: 0" class="button-space">
                    <a style="padding: 0" th:href="@{/users/register}" class="nav-link">Not registered?</a>
                    <a style="padding: 0" th:href="@{/users/forgotten-password}" class="nav-link">Forgot your password?</a>
                </div>
                <button type="submit" class="btn btn-dark button-space">Login</button>
            </div>
        </form>
    </div>
    <th:block th:replace="fragments/footer"/>
</main>
</body>
</html>