<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"/>
    <script th:src="@{/js/checks/options-check.js}"></script>
</head>
<body>
<main class="container-fluid">
    <th:block th:replace="fragments/navbar"/>
    <div class="mt-3">
        <h1 class="text-center text-dark">Options</h1>
        <hr class="hr-2 bg-dark w-25">
        <form class="form w-25 mx-auto" th:action="@{/users/options}" th:object="${user}" th:method="post">
            <div class="form-group">
                <input type="text" class="form-control" th:field="*{email}" th:value="*{email}" id="email" name="email"
                       th:errorClass="is-invalid" placeholder=" " autofocus/>
                <label for="email" th:class="form-control-placeholder"
                       th:classappend="${#fields.hasErrors('email')} ? 'text-danger' : ''">E-Mail</label>
                <small class="text-danger small"
                       th:text="${#fields.hasErrors('email')} ? ${#fields.errors('email')[0]} : ''"></small>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <input type="text" class="form-control" id="firstName" name="firstName"
                           th:field="*{firstName}" th:value="*{firstName}" th:errorClass="is-invalid" placeholder=" ">
                    <label for="firstName" class="form-control-placeholder"
                           th:classappend="${#fields.hasErrors('firstName')} ? 'text-danger' : ''">First Name</label>
                    <small class="text-danger"
                           th:text="${#fields.hasErrors('firstName')} ? ${#fields.errors('firstName')[0]} : ''"></small>
                </div>
                <div class="form-group col-6">
                    <input type="text" class="form-control" id="lastName" name="lastName"
                           th:field="*{lastName}" th:value="*{lastName}" th:errorClass="is-invalid" placeholder=" ">
                    <label for="lastName" class="form-control-placeholder"
                           th:classappend="${#fields.hasErrors('lastName')} ? 'text-danger' : ''">Last Name</label>
                    <small class="text-danger"
                           th:text="${#fields.hasErrors('lastName')} ? ${#fields.errors('lastName')[0]} : ''"></small>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="city" name="city"
                       th:field="*{city}" th:value="*{city}" th:errorClass="is-invalid" placeholder=" ">
                <label for="city" class="form-control-placeholder"
                       th:classappend="${#fields.hasErrors('city')} ? 'text-danger' : ''">City</label>
                <small class="text-danger"
                       th:text="${#fields.hasErrors('city')} ? ${#fields.errors('city')[0]} : ''"></small>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="telNum" name="telNum"
                       th:field="*{telNum}" th:value="*{telNum}" th:errorClass="is-invalid" placeholder=" ">
                <label for="telNum" class="form-control-placeholder"
                       th:classappend="${#fields.hasErrors('telNum')} ? 'text-danger' : ''">Telephone Number</label>
                <small class="text-danger"
                       th:text="${#fields.hasErrors('telNum')} ? ${#fields.errors('telNum')[0]} : ''"></small>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <input type="password" class="form-control" th:field="*{password}" th:value="*{password}"
                           th:errorClass="is-invalid" id="password" name="password" placeholder=" ">
                    <label for="password" class="form-control-placeholder"
                           th:classappend="${#fields.hasErrors('password')} ? 'text-danger' : ''">New Password</label>
                    <small class="text-danger"
                           th:text="${#fields.hasErrors('password')} ? ${#fields.errors('password')[0]} : ''"></small>
                </div>
                <div class="form-group col-6">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                           th:field="*{confirmPassword}" th:value="*{confirmPassword}" th:errorClass="is-invalid"
                           placeholder=" ">
                    <label for="confirmPassword" class="form-control-placeholder"
                           th:classappend="${#fields.hasErrors('confirmPassword')} ? 'text-danger' : ''">Confirm New
                        Password</label>
                    <small class="text-danger"
                           th:text="${#fields.hasErrors('confirmPassword')} ? ${#fields.errors('confirmPassword')[0]} : ''"></small>
                </div>
            </div>

            <div class="form-group justify-content-center row">
                <div class="checkbox-chippy">
                    <input type="checkbox" id="receiveEmails" name="receiveEmails" value="false">
                    <label for="receiveEmails">Receive emails with statistics</label>
                </div>
            </div>
            <hr class="hr-2 bg-dark w-100">
            <div class="row">
                <div class="form-group col-12">
                    <input type="password" class="form-control" th:field="*{oldPassword}" th:value="*{oldPassword}"
                           th:errorClass="is-invalid" id="oldPassword" name="oldPassword" placeholder=" ">
                    <label for="oldPassword" class="form-control-placeholder"
                           th:classappend="${#fields.hasErrors('oldPassword')} ? 'text-danger' : ''">Old Password (If you are changing it)</label>
                    <small class="text-danger"
                           th:text="${#fields.hasErrors('oldPassword')} ? ${#fields.errors('oldPassword')[0]} : ''"></small>
                </div>
            </div>
            <hr class="hr-3 bg-dark">
            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${#fields.hasErrors('*')}">
                Fix the invalid fields and try again!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&#215;</span>
                </button>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-dark button-space">Update</button>
            </div>
        </form>
    </div>
    <th:block th:replace="fragments/footer"/>
</main>
</body>
</html>