<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"/>
    <script th:src="@{/js/checks/update-password-checks.js}"></script>
</head>
<body>
<main class="container-fluid">
    <th:block th:replace="fragments/navbar"/>
    <div class="mt-3">
        <h1 class="text-center text-dark">Update Password</h1>
        <hr class="hr-2 bg-dark w-25">
        <form class="form w-25 mx-auto" th:action="@{/users/update-password}" th:object="${user}" th:method="post">
            <div class="row">
                <div class="form-group col-6">
                    <input type="password" class="form-control" th:field="*{password}" th:value="*{password}"
                           th:errorClass="is-invalid" id="password" name="password" placeholder=" " autofocus>
                    <label for="password" class="form-control-placeholder"
                           th:classappend="${#fields.hasErrors('password')} ? 'text-danger' : ''">Password</label>
                    <small class="text-danger"
                           th:text="${#fields.hasErrors('password')} ? ${#fields.errors('password')[0]} : ''"></small>
                </div>
                <div class="form-group col-6">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                           th:field="*{confirmPassword}" th:value="*{confirmPassword}" th:errorClass="is-invalid"
                           placeholder=" ">
                    <label for="confirmPassword" class="form-control-placeholder"
                           th:classappend="${#fields.hasErrors('confirmPassword')} ? 'text-danger' : ''">Confirm
                        Password</label>
                    <small class="text-danger"
                           th:text="${#fields.hasErrors('confirmPassword')} ? ${#fields.errors('confirmPassword')[0]} : ''"></small>
                </div>
            </div>
            <input type="text" class="d-none" id="token" name="token"
                   th:field="*{token}" th:value="*{token}">
            <hr class="hr-3 bg-dark">
            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${#fields.hasErrors('*')}">
                Fix the invalid fields and try again!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-dark button-space">Update Password</button>
            </div>
        </form>
    </div>
    <th:block th:replace="fragments/footer"/>
</main>
</body>
</html>