<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"/>
    <script th:src="@{/js/configurations/fileupload-default.js}"></script>
    <script th:src="@{/js/configurations/texteditor-default.js}"></script>
    <!--<script th:src="@{/js/checks/ad-create-checks.js}"></script>-->

</head>
<body>
<main class="container-fluid">
    <header>
        <th:block th:replace="fragments/navbar"/>
    </header>

    <div class="mt-3">
        <h1 class="text-center text-dark">Create Ad</h1>
        <hr class="hr-2 bg-dark w-50">
        <form class="form w-50 mx-auto" th:object="${ad}" th:action="@{/ads/create}" th:method="post"
              enctype="multipart/form-data" name="form">
            <div class="row justify-content-center">
                <div class="form-group col-6 justify-content-center">
                    <input type="text" class="form-control" th:field="*{title}"
                           onkeyup="countChars(this, 70, 'Title', 'titleLabel')"
                           th:value="*{title}" id="title" name="title"
                           th:errorClass="is-invalid" placeholder=" " autofocus/>
                    <label id="titleLabel" for="title" th:class="form-control-placeholder"
                           th:classappend="${#fields.hasErrors('title')} ? 'text-danger' : ''">Title 0/70</label>
                    <small class="text-danger small"
                           th:text="${#fields.hasErrors('title')} ? ${#fields.errors('title')[0]} : ''"></small>
                </div>
                <div class="form-group col-6 justify-content-center">
                    <select type="" class="js-example-basic-single js-states form-control" th:field="*{categoryName}"
                            id="categoryName" name="categoryName"
                            th:errorClass="is-invalid">
                        <th:block th:each="category, iter : ${ad.categories}">
                            <option th:value="${category.id}"
                                    th:title="${category.imageUrl}">
                                <span th:text="${category.name}"></span>
                            </option>
                        </th:block>
                    </select>
                    <script>
                        function formatState(state) {
                            if (!state.id) {
                                return state.text;
                            }
                            var $state = $(
                                '<span><img src="' + state.title + '" class="img-flag" style="width: 16px" /> ' + state.text + '</span>'
                            );
                            return $state;
                        };
                        $(document).ready(function () {
                            $('#categoryName').select2({
                                placeholder: "Category",
                                templateResult: formatState
                            });
                            $('#categoryName').val(null).trigger('change');
                        });
                    </script>
                </div>
            </div>


            <div class="row justify-content-start">
                <div class="input-group form-group toggle col col-xs-12 col-sm-12 col-md col-lg col-xl">
                    <input class="radio-btn" th:field="*{advertType}" type="radio" name="sizeBy" value="SELLING"
                           id="selling" hidden checked/>
                    <label for="selling">Selling</label>
                    <input class="radio-btn" th:field="*{advertType}" type="radio" name="sizeBy" value="BUYING"
                           id="buying" hidden/>
                    <label for="buying">Buying</label>
                </div>

                <div class="input-group col-5 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-5"
                     style="padding-top: 4px">
                    <div class="input-group-prepend">
                        <select class="form-control" th:field="*{currency}" th:value="*{currency}" id="currency">
                            <option th:value="BGN">BGN</option>
                            <option th:value="EUR">EUR</option>
                            <option th:value="USD">USD</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="number" step="0.01" min="0" max="999999999" class="form-control" th:field="*{price}"
                               th:value="*{price}" id="price" name="price"
                               th:errorClass="is-invalid" placeholder=" "/>
                        <label for="price" th:class="form-control-placeholder"
                               th:classappend="${#fields.hasErrors('price')} ? 'text-danger' : ''">Price</label>
                        <small class="text-danger small"
                               th:text="${#fields.hasErrors('price')} ? ${#fields.errors('price')[0]} : ''"></small>
                    </div>
                </div>

                <div class="form-group col">
                    <div class="checkbox-chippy">
                        <input type="checkbox" id="negotiable" name="negotiable" value="false">
                        <label for="negotiable">Negotiable</label>
                    </div>
                </div>

            </div>


            <hr class="hr-3 bg-dark">
            <h2 class="text-center text-dark">Description</h2>
            <div class="row justify-content-center">
                <div class="form-group col-12 justify-content-center">
                    <textarea maxlength="8000"
                              onkeyup="countChars(this, 8000, 'Title', 'titleLabel')"
                              th:field="*{description}" th:value="*{description}" id="description"
                              name="description"
                              class="editor"
                              th:errorClass="is-invalid" placeholder=" "></textarea>

                    <small class="text-danger small"
                           th:text="${#fields.hasErrors('description')} ? ${#fields.errors('description')[0]} : ''"></small>
                </div>
            </div>

            <hr class="hr-3 bg-dark">
            <h2 class="text-center text-dark">Images</h2>
            <input type="file" name="files">

            <hr class="hr-3 bg-dark">
            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                 th:if="${#fields.hasErrors('*')}">
                Fix the invalid fields and try again!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&#215;</span>
                </button>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="submit-form btn btn-dark button-space">Create</button>
            </div>
        </form>
    </div>
    <th:block th:replace="fragments/footer"/>
</main>
</body>
</html>