<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"/>
    <script th:src="@{/js/configurations/texteditor-default.js}"></script>
    <!--<script th:src="@{/js/checks/ad-create-checks.js}"></script>-->

</head>
<body>
<main class="container-fluid">
    <th:block th:replace="fragments/navbar"/>
    <div class="mt-3">
        <div class="row justify-content-center">
            <div class="grid grid--uniform grid--collection col-8">
                <th:block th:each="ad, iter : ${ads}">
                    <div class="grid__item grid-product small--one-half medium-up--one-quarter mb-5"
                         data-aos="row-of-3">
                        <a class="grid-product_grid__image-ratio--square _link"
                           th:href="@{/ads/view/{id}(id=${ad.id})}"
                           th:title="${ad.title} + ' (edit)'" style="width: 200px">
                            <div class="lazyloaded">
                                <img class="card-img-top" th:src="${ad.image}" alt="Image"
                                     draggable="false"/>
                                <div class="cutout">
                                    <strong
                                            th:text="${ad.title}"></strong>
                                </div>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/footer"/>
</main>
</body>
</html>