<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"/>
    <script th:src="@{/js/configurations/fileupload-default.js}"></script>
    <script th:src="@{/js/gallery.js}"></script>
    <!--<script th:src="@{/js/checks/ad-create-checks.js}"></script>-->

</head>
<body>
<main class="container-fluid">
    <th:block th:replace="fragments/navbar"/>
    <div class="mt-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-12 main-section">
                    <div class="form-group row justify-content-center">
                        <h2 th:text="${ad.advertType}"></h2>
                    </div>
                    <div class="images">
                        <img th:src="${ad.images[0]}" alt="">
                    </div>
                    <h2 th:text="${ad.title}"></h2>
                    <h4 th:text="${ad.categoryName}"></h4>
                    <div th:utext="${ad.description}"></div>
                    <div class="row">
                        <th:block th:each="image : ${ad.images}">
                            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                   th:data-image="${image}"
                                   data-target="#image-gallery">
                                    <img class="img-thumbnail"
                                         th:src="${image}"
                                         alt="">
                                </a>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="col-sm-4 col-12 info-section">
                    <div class="price justify-content-center">
                        <h3 class="col-12" th:text="${ad.price} + ' ' + ${ad.currency}"></h3>
                        <h7 class="col-12 text-success justify-content-end" th:if="${!ad.negotiable}">Negotiable</h7>
                    </div>
                    <h6 th:text="${ad.creatorUsername}"></h6>
                    <h6 th:text="'From ' + ${ad.creatorCity}"></h6>
                    <h6 th:utext="'Call me at ' + '<a href=\''+ ${ad.creatorTelNum} + '\'>' + ${ad.creatorTelNum} + '</a>'"></h6>
                    <th:if sec:authorize="isAuthenticated()">
                        <th:block th:if="${#authentication.getPrincipal().getId()} == ${ad.creatorId}">
                            <!--<form th:action="@{|/ads/edit/${ad.id}|}" method="get">-->
                                <!--<button class="btn btn-dark mb-1">Edit</button>-->
                            <!--</form>-->
                            <th:block th:if="${#strings.equals(ad.status, 'CLOSED')}">
                                <form th:action="@{|/ads/update-status/${ad.id}/PUBLISHED|}" method="get">
                                    <button class="btn btn-dark mb-1">Republish</button>
                                </form>
                            </th:block>
                            <th:block th:if="${#strings.equals(ad.status, 'PUBLISHED')}">
                                <form th:action="@{|/ads/update-status/${ad.id}/CLOSED|}" method="get">
                                    <button class="btn btn-dark mb-1">Close</button>
                                </form>
                            </th:block>
                            <div class="alert alert-success alert-dismissible fade show" role="alert"
                                 th:if="${param.updated}">
                                The status has been updated!
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&#215;</span>
                                </button>
                            </div>
                        </th:block>
                        <th:block th:unless="${#authentication.getPrincipal().getId()} == ${ad.creatorId}">
                            <h4>or</h4>
                            <h6 class="mb-4">Send a message here</h6>
                            <form class="form w-100 mx-auto" th:action="@{/api/messages/send}" th:method="post">
                                <div class="form-group col-12" style="text-align: left;">
                            <textarea class="editor unresizeable form-control" rows="7" maxlength="8000"
                                      id="message"
                                      name="message"
                                      placeholder=" "
                                      onkeyup="countChars(this, 8000, 'Message', 'messageLabel')"></textarea>
                                    <label th:id="messageLabel" for="message" class="form-control-placeholder">Message
                                        0/8000</label>
                                </div>
                                <input type="hidden" th:value="${ad.creatorId}" th:name="receiverId">
                                <input type="hidden" th:value="${ad.id}" th:name="advertId">
                                <div class="button-holder d-flex justify-content-center">
                                    <button type="submit" class="submit-form btn btn-dark button-space">Send</button>
                                </div>
                            </form>
                        </th:block>

                        <div class="mt-1" th:unless="${ad.owner}">
                            <form th:unless="${ad.followed}" th:action="@{/ads/follow/{id}(id=${ad.id})}" method="get">
                                <button class="btn btn-dark mb-1">Follow</button>
                                <div class="alert alert-success alert-dismissible fade show" role="alert"
                                     th:if="${param.updated}">
                                    You successfully unfollowed this thread!
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&#215;</span>
                                    </button>
                                </div>
                            </form>
                            <form th:if="${ad.followed}" th:action="@{/ads/follow/{id}(id=${ad.id})}" method="get">
                                <button class="btn btn-dark mb-1">Unfollow</button>
                                <div class="alert alert-success alert-dismissible fade show" role="alert"
                                     th:if="${param.updated}">
                                    You successfully followed this thread!
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&#215;</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </th:if>
                    <th:if sec:authorize="isAnonymous()">
                        <h4>or</h4>
                        <h6 class="mb-4">
                            <a href='/users/login'>Login</a>
                            /
                            <a href='/users/login'>Register</a>
                            to send a message here
                        </h6>
                    </th:if>

                </div>
                <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg col-md-8 justify-content-center">
                        <div class="modal-content col-md-8">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal"><span
                                        aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i
                                        class="fa fa-arrow-left"></i>
                                </button>

                                <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i
                                        class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/footer"/>
</main>
</body>
</html>