<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <title>
        <html xmlns="http://www.w3.org/1999/xhtml"
              xmlns:th="http://www.thymeleaf.org">>
        <head>
            <title th:utext="${subject}"></title>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        </head>
<body style="background-color: #f7f7f7; margin: 0; padding: 0; margin-bottom: 30px" bgcolor="#F7F7F7">
<table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width: 600px;
       background-color: white; border-radius: 4px">
    <tr>
        <td valign="middle" align="center" style="padding: 0 40px; padding-top: 20px">
            <img th:src="'cid:' + ${imageName}" alt="Logo" width="200"/>
        </td>
    </tr>
    <tr>
        <td valign="middle" align="center" style="padding: 0 40px; padding-top: 20px">
            <p style="font-family: sans-serif; color: #707070; font-weight: 300; line-height: 20px"
               th:utext="${message}"></p>
        </td>
    </tr>
    <tr>
        <td valign="middle" align="center" style="padding: 50px 40px">
            <a th:utext="${button}" th:href="${url}"
               style="background-color: #5A9AF6; text-decoration: none; color: white; border-radius: 22px; font-size: 17px;
    letter-spacing: 0.8px; font-weight: 400; font-family: sans-serif; padding: 12px 25px">${button}
            </a>
        </td>
    </tr>
</table>
<table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width: 600px">
    <tr>
        <td valign="middle" align="center" style="padding-top: 20px; padding-bottom: 0">
            <p style="font-family: sans-serif; color: #707070; font-weight: bold; font-size: 12px; letter-spacing: 0.3px">
                &#169; 2019 - AdvertWall Ltd. - All Rights Reserved</p>
        </td>
    </tr>
    <tr>
        <td valign="middle" align="center">
            <p style="font-family: sans-serif; line-height: 18px; color: #707070; font-weight: 200; font-size: 12px;
           letter-spacing: 0.3px">Bulgaria, Sofia, Somestreet 12</p>
        </td>
    </tr>
</table>
</body>
</html></title>
</head>
<body>

</body>
</html>